In [2]:
import pandas as pd
data=pd.read_csv('product.csv')
data

   product_id               name  quantity  price
0      100201              Chips         6      2
1      100202  Canned Soft Drink         9      4
2      100203      Bottled Water        12      2
3      100204       Veggie Salad        12      8

In [6]:
# Filter food
data[(data.name=="Chips") | (data.name =="Canned Soft Drink")]

   product_id               name  quantity  price
0      100201              Chips         6      2
1      100202  Canned Soft Drink         9      4

In [7]:
good_food = data.drop([0,1])

In [8]:
good_food

   product_id           name  quantity  price
2      100203  Bottled Water        12      2
3      100204   Veggie Salad        12      8